<?php
/**
 * Template for featured widget
 *
 * @see DM_FeaturedWidget_Block_Featuredwidget
 */
?>

<?php
$products = $this->getProducts();

if (count($products)): ?>
    <div class="box-featured">
        <h2><?php echo $this->__('Featured products') ?></h2>

        <div class="dmfeatureditems">
            <?php
            foreach ($products as $item):?>
                <div class="dmfitem">
                    <?php if ($this->getShowImages()): ?>

                        <div class="dmfimage">
                            <a href="<?php echo $item->getProductUrl() ?>"
                               title="<?php echo $this->escapeHtml($item->getName()) ?>" class="product-image"><img
                                    src="<?php echo $this->helper('catalog/image')->init($item, 'small_image')->resize(250) ?>"
                                    alt="<?php echo $this->escapeHtml($item->getName()) ?>"/></a>
                        </div>
                    <?php endif; ?>
                    <?php if ($this->getShowPrices()): ?>
                        <div class="dmfprice">
                            <?php echo $this->getPriceHtml($item) ?>
                        </div>
                    <?php endif; ?>
                    <div class="dmfaddtocart">
                        <?php if ($item->isSaleable()): ?>
                            <p>
                                <button type="button"
                                        title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>"
                                        class="button btn-cart"
                                        onclick="setLocation('<?php echo $this->getAddToCartProductUrl($item) ?>')">
                                    <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            </p>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endforeach ?>
            <div style="clear: both"></div>
        </div>
    </div>
<?php endif ?>
