.dmfeatureditems:after{
    clear: both;
}
.dmfitem{
    width: 20%;
    float: left;
    padding: 5px;
    text-align: center;
}
.dmfitem img{
    max-width: 100%;
}
.dmfaddtocart button{
    max-width: 100%;
}
.box-featured{
    width: 100%;
}